/* Body */
body {
	background: url(../img/crisp.png) repeat center center;
<<<<<<< HEAD

}

=======
>>>>>>> d32a99df553ead1a4212f66b5c2220f1886c5530

}


/* Header */
.jumbotron {
	padding: 30px 0px 200px 0px;
	color: black;
	-webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
	-moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
	box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);	
<<<<<<< HEAD
}



=======
}

.logo {
	-webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    margin-left: 20px;
}

>>>>>>> d32a99df553ead1a4212f66b5c2220f1886c5530
/* Email/Login e Zipcode */

.hero-unit {
	margin-bottom: 0px;
	background: #ff8a00;
	background: -moz-linear-gradient(45deg, #ff8a00 0%, #ea7f00 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#ff8a00), color-stop(100%,#ea7f00));
	background: -webkit-linear-gradient(45deg, #ff8a00 0%,#ea7f00 100%);
	background: -o-linear-gradient(45deg, #ff8a00 0%,#ea7f00 100%);
	background: -ms-linear-gradient(45deg, #ff8a00 0%,#ea7f00 100%);
	background: linear-gradient(45deg, #ff8a00 0%,#ea7f00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8a00', endColorstr='#ea7f00',GradientType=1 );
	b-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	color: white;
	text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);	
}

.hero-unit h2 {
	font-size: 40px;
}


.input-medium { 
	width: 220px;
}

.zipcode { 
	width: 80px;
}




/* How it works */

.how-works {
	padding: 30px 0px;
	background: #020031;
	background: -moz-linear-gradient(45deg, #020031 0%, #6D3353 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6D3353));
	background: -webkit-linear-gradient(45deg, #020031 0%,#6D3353 100%);
	background: -o-linear-gradient(45deg, #020031 0%,#6D3353 100%);
	background: -ms-linear-gradient(45deg, #020031 0%,#6D3353 100%);
	background: linear-gradient(45deg, #020031 0%,#6D3353 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 );
	-webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
	-moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
	box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
}

.how-works img {
	margin-bottom: 10px;
}

.span3 h2 {
	font-size: 26px;
	text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
}


.span3 h2, .span3 p {
	color: white;
}

.footer {
	background-color: black;
	color: gray;
	text-align: center;
	padding: 20px 0px;
}



/* Movie Pick styles */

.movie-pick {
	height: 400px;
	background: #99b02d;
	background: -moz-linear-gradient(45deg, #99b02d 0%, #96ad2c 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#99b02d), color-stop(100%,#96ad2c));
	background: -webkit-linear-gradient(45deg, #99b02d 0%,#96ad2c 100%);
	background: -o-linear-gradient(45deg, #99b02d 0%,#96ad2c 100%);
	background: -ms-linear-gradient(45deg, #99b02d 0%,#96ad2c 100%);
	background: linear-gradient(45deg, #99b02d 0%,#96ad2c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99b02d', endColorstr='#96ad2c',GradientType=1 );
	color: white;
}

.movie-pick {
	box-shadow: none;
}



/* Select Place styles */

.select-hangout {
	padding: 30px 0px;
	background: #519eb8;
	background: -moz-linear-gradient(45deg, #519eb8 0%, #46899f 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#519eb8), color-stop(100%,#46899f));
	background: -webkit-linear-gradient(45deg, #519eb8 0%,#46899f 100%);
	background: -o-linear-gradient(45deg, #519eb8 0%,#46899f 100%);
	background: -ms-linear-gradient(45deg, #519eb8 0%,#46899f 100%);
	background: linear-gradient(45deg, #519eb8 0%,#46899f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#519eb8', endColorstr='#46899f',GradientType=1 );
	color: white;
}

.select-hangout h2 {
	font-size: 40px;
	text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
}



/* Invite Friends styles */


.invite-friends {
	padding: 30px 0px;
	background: #020031;
	background: -moz-linear-gradient(45deg, #020031 0%, #6D3353 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6D3353));
	background: -webkit-linear-gradient(45deg, #020031 0%,#6D3353 100%);
	background: -o-linear-gradient(45deg, #020031 0%,#6D3353 100%);
	background: -ms-linear-gradient(45deg, #020031 0%,#6D3353 100%);
	background: linear-gradient(45deg, #020031 0%,#6D3353 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 );
	color: white;
}

.invite-friends h2 {
	font-size: 40px;
	text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
}