{% extends "/template.html" %}

{% block styles %}{% endblock %}

{% block body %}

    <!-- STEP 2 - SELECT MOVIE -->
    <div class="row-fluid"> 
      <div class="hero-unit movie-pick">
        <h2>Step 2: Select the Movie</h2>
        <br><br>
            
            <form class="form-search span6">
              <label><h3>Enter your zipcode: </h3></label>
              <input type="text" class="input-medium search-query">
              <button type="submit" class="btn btn-large btn-warning" href="/submit.html">Submit</button>
            </form> 

            <form class="dropdown span6">
              <label><h3>Select the movie:</h3></label>
              <select>
                  <option>Argo</option>
                  <option>Here Comes the Boom</option>
                  <option>Sinister</option>
                  <option>Seven Psychopaths</option>
                  <option>Finding Nemo 3D</option>
              </select>
                  <button type="submit" class="btn btn-large btn-warning" href="/submit.html">Submit</button>    
            </form> 


            <form class="dropdown span6">
              <label><h3>Pick the theater:</h3></label>
              <select>
                  <option>AMC Empire 25</option>
                  <option>City Cinemas Paris Theatre</option>
                  <option>Regal E-Walk Stadium 13 RPX</option>
                  <option>AMC Loews Lincoln Square 13</option>
                  <option>Angelika Film Center</option>
              </select>
                  <button type="submit" class="btn btn-large btn-warning" href="/submit.html">Submit</button>    
            </form> 

            <form class="radiobutton span6">
              <label><h3>Select the time:</h3>
                <label class="radio inline">
                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                  2:20pm
                </label>
                <label class="radio inline">
                  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                  5:20pm
                </label>
                <label class="radio inline">
                  <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                  6:10pm
                </label>
                <label class="radio inline">
                  <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4">
                  8:00pm
                </label>
                <label class="radio inline">
                  <input type="radio" name="optionsRadios" id="optionsRadios5" value="option5">
                  9:30pm
                </label>
                <label class="radio inline">
                  <input type="radio" name="optionsRadios" id="optionsRadios6" value="option6">
                  11:50pm
                </label>
              </label>
              <button type="submit" class="btn btn-large btn-warning" href="/submit.html">Submit</button> 
            </form>
      </div>
    </div>

      <!-- STEP 3 - SELECT PLACE -->
      <div class="row-fluid select-hangout">
        <div class="container">
            <h2>Step 3: Select the Hangout</h2>
            <br><br>

            <form class="radiobutton span6">
              <label><h3>Hangout:</h3>
                <label class="radio inline">
                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                  Before the movie
                </label>
                <label class="radio inline">
                  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                  After the movie
                </label>
                <button type="submit" class="btn btn-large btn-warning" href="/submit.html">Submit</button>
              </label> 
            </form>

            <h3>These are our handpicked suggestions for you to hangout with your friends:</h3>
        </div>
      </div>



      <!-- STEP 4 - INVITE YOUR FRIENDS -->
      <div class="row-fluid invite-friends">
        <div class="container">
            <h2>Step 4: Invite your friends</h2>
            <br><br>
              
              <form class="form-horizontal">
                <div class="control-group">
                  <label class="control-label" for="inputName">Name</label>
                  <div class="controls">
                    <input type="text" id="inputName">
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="inputEmail">Email</label>
                  <div class="controls">
                    <input type="text" id="inputEmail">
                  </div>
                </div>

                <br><br>
                <div class="control-group">
                  <label class="control-label" for="inputName">Name</label>
                  <div class="controls">
                    <input type="text" id="inputName">
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="inputEmail">Email</label>
                  <div class="controls">
                    <input type="text" id="inputEmail">
                  </div>
                </div>

                <!-- Submit button -->
                <div class="control-group">
                  <div class="controls">
                    <button type="submit" class="btn">Submit</button>
                  </div>
                </div>
              </form>
                





              </form>  

        </div>
      </div>


{% endblock %}


{% block scripts %}{% endblock %}